<div class="container">
  <div class="row p-5 about-main">
    <h2>Osanpo App とは</h2>
    <p>
      散歩した道で見つけたあたらしい発見やあたらしい世界を投稿したり、検索したりできるコミュニティサイトです。
    </p>
    <%= image_tag 'about.jpg', class: 'img-fluid' %>
  </div>
</div>
