<%= link_to 'ゲストログイン（閲覧用）', end_users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>

<div class="main top-main">
  <div class="top-message">
      <h2>おさんぽで世界は広がる</h2>
      <p>おさんぽしてまだ見ぬ世界を発見しよう</p>
  </div>
</div>

