<div class="row mx-auto align-items-center">
  <i class="col-auto fa-regular fa-comment" aria-hidden="true" style="color: gray;"></i>
  <div class="col-auto px-0 text-secondary"><%= post.post_comments.count %></div>
</div>